# =========================================================================== #
# Local Stack
# =========================================================================== #
# https://github.com/localstack/awscli-local
awscli-local[ver1]
# https://github.com/localstack/localstack-python-client
localstack-client
# =========================================================================== #
# Python Dev
# =========================================================================== #
# Linter
flake8
# Formatters
black
isort
# =========================================================================== #
